@font-face {
    font-family: 'fraktur';
    src: url('../assets/font/fraktur-en.ttf');
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: 3rem;
    font-family: 'fraktur';
    padding-left: 3px;
    padding-right: 1px;
    margin-top: -1px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not(.logo):hover {
    text-decoration: underline;
}